<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tk.wasdennnoch.androidn_ify"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/LightTheme"
        tools:ignore="UnusedAttribute">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="60" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_description"
            tools:ignore="ManifestResource" />

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".SettingsAlias"
            android:enabled="true"
            android:label="@string/app_name"
            android:targetActivity=".ui.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/activity_about" />
        <activity
            android:name=".ui.PlatLogoActivity"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen" />

        <service
            android:name=".utils.DownloadService"
            android:exported="false" />

        <activity
            android:name=".ui.BlacklistAppActivity"
            android:label="@string/notification_blacklisted_apps_title"
            android:parentActivityName=".ui.SettingsActivity">
            <intent-filter>
                <action android:name="tk.wasdennnoch.androidn_ify.ui.BlacklistAppActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.EmergencyInfoActivity"
            android:showOnLockScreen="true"
            android:theme="@android:style/Theme.Material.Light.DarkActionBar"
            android:label="@string/emergency_info"
            android:exported="true">
            <intent-filter>
                <action android:name="tk.wasdennnoch.androidn_ify.ui.EmergencyInfoActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.EditQSActivity"
            android:theme="@android:style/Theme.Material.Light.DarkActionBar"/>
    </application>

</manifest>